@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "EB Garamond", serif !important;
    background-color: #f2ecce !important;
    font-size: 20px !important;
    font-style: normal !important;
}

/*buttons*/
.btn-primary {
    background-color: #d9946c !important;
    border-color: #591902 !important;
    border-width: 1.5px !important;
    font-weight: 600 !important;
    color: #f2ecce !important;
}

.btn-primary:hover {
    background-color: #a66249 !important;
    border-color: #f2ecce !important;
    border-width: 1.5px !important;
    font-weight: 700 !important;
    color: #f2ecce !important;
}

.btn-secondary {
    background-color: #591902 !important;
    border-color: #591902 !important;
    border-width: 1.5px !important;
    font-weight: 600 !important;
    color: #f2ecce !important;
}

.btn-secondary:hover {
    background-color: #591902d0 !important;
    border-color: #591902 !important;
    font-weight: 700 !important;
    color: #f2ecce !important;
}
/*buttons*/

/*pagination*/
.page-link {
    background-color: #d9946c !important;
    border-color: #591902 !important;
    border-width: 2px !important;
    color: #591902 !important;
    font-weight: 800;
}

.page-link:active {
    background-color: #591902 !important;
    border-color: #a66249 !important;
    color: #f2ecce !important;
}


.active > .page-link {
    background-color: #591902 !important;
    color: #f2ecce !important;
}
/*pagination*/

/*cards*/
.card {
    background-color: #f2ecce !important;
    border-color: #591902 !important;
    border-width: 2px !important;
    color: #591902 !important;
}

.card-header {
    background-color: #d9946c !important;
    border-color: #591902 !important;
    border-width: 2px !important;
    font-weight: 700;
    color: #591902 !important;
}

.card-footer {
    background-color: #a66249 !important;
    border-color: #591902 !important;
    border-width: 2px !important;
}
/*cards*/

.bg-img {
    background-image: url("assets/img/fondo_login.jpeg");
    background-color: #fffbd5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-imgp {
    background-image: url("assets/img/fondo_login1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.bg-imgs {
    background-image: url("assets/img/fondo_login2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.bg-imgr {
    background-image: url("assets/img/fondo_list.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
}

.br-img {
  border: silver 75px solid;
  border-image-source: url("assets/img/marco-200.png");
  border-image-slice: 75;
  text-align: justify;
}

/* Tamaño pequeño (xs) */
@media (min-width: 320px) {
    /* Estilos para dispositivos con un ancho mínimo de 320px */
    .bg-img {
        padding-top: 85px;
        height: 100vh;
    }
}

/* Tamaño pequeño (sm) */
@media (min-width: 576px) {

    /* Estilos para dispositivos con un ancho mínimo de 576px */
    .bg-img {
        padding-top: 85px;
        height: 150vh;
    }
}

/* Tamaño mediano (md) */
@media (min-width: 768px) {

    /* Estilos para dispositivos con un ancho mínimo de 768px */
    .bg-img {
        padding-top: 80px;
        height: 120vh;
    }
}

/* Tamaño grande (lg) */
@media (min-width: 992px) {

    /* Estilos para dispositivos con un ancho mínimo de 992px */
    .bg-img {
        padding-top: 120px;
        height: 100vh;
    }
}