<button (click)="logout()">Cerrar sesión</button>
<router-outlet></router-outlet>
<h1>Lista de Juegos</h1>
    <table style="border: 1px solid;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Tipo de Juego</th>
            </tr>
        </thead>
        <tbody>
            @for (game of gameList; track game.title){
                <tr>
                    <td>{{game.id}}</td>
                    <td>{{game.title}}</td>
                    <td>{{game.description}}</td>
                    <td>hola</td>
                </tr>
            }
        </tbody>
    </table>
<button routerLink="/mini_games/create" routerLinkActive="active">Crear</button>