<!-- src/app/quiz/quiz.component.html -->
<div *ngIf="!isGameOver">
    <h2>{{ game.title }}</h2>
    <p>{{ game.description }}</p>
    <div *ngIf="questions[currentQuestionIndex]">
        <h3>{{ questions[currentQuestionIndex].content }}</h3>
        <ul>
            <li *ngFor="let answer of questions[currentQuestionIndex].answers">
                <input type="radio" name="answer" (click)="selectedAnswer = answer"> {{ answer.content }}
            </li>
        </ul>
        <button (click)="answerQuestion()">Submit</button>
    </div>
    <p>Attempts left: {{ attempts }}</p>
    <p>Score: {{ score }}</p>

     <!--piramide-->
     <div class="pyramid-container">
        <h2>Pyramid</h2>
        <div class="pyramid">
            @for (part of pyramidParts; track part){
            <div [class.visible]="part.isVisible" [ngStyle]="{ 
    'width': part.style.width,
    'border-bottom-width': part.style.height,
    'border-right-width': '12px',
    'border-left-width': '12px'}">
            </div>
            }
        </div>
    </div>
    <!--piramide-->
</div>
<div *ngIf="isGameOver">
    <h2>{{ resultMessage }}</h2>
    <button (click)="resetGame()">Play Again</button>
</div>