<div class="container-fluid bg-img">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <h3 class="text-center bg-imgs p-3">HistoryQuiz</h3>
      <div class="row bg-imgp justify-content-center align-items-center p-5">
        <form class="col-lg-12" (submit)="logCheck()" [formGroup]="form">
          <div class="form-group mb-4">
            <label class="form-label" name="email" id="email" for="email">Correo electrónico</label>
            <input class="form-control" formControlName="username" name="email" type="email"
              placeholder="Ingresa tu correo electrónico">
          </div>
          <div class="form-group mb-4">
            <label class="form-label" name="password" id="password" for="password">Contraseña</label>
            <input class="form-control" formControlName="password" name="password" type="password"
              placeholder="Ingresa tu contraseña">
          </div>
          <div class="text-center">
            @if (loading) {
            <button class="btn btn-primary" type="button" style="width: 215px;" disabled>
              <span class="spinner-border spinner-border-sm me-3" aria-hidden="true"></span>
              <span role="status">Cargando...</span>
            </button>
            } @else {
            <button type="submit" class="btn btn-primary" style="width: 215px;">Iniciar sesión</button>
            }
          </div>
        </form>
        <hr class="border border-danger border-2 opacity-50 m-4">
        <button class="col-lg-7 btn btn-primary" routerLink="/security/register"
          routerLinkActive="active">Registrarse</button>
      </div>
    </div>
  </div>
</div>