<div class="container-fluid bg-imgr">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="row justify-content-center align-items-center mt-5 ms-3 me-3">
                <h2 class="col-lg-8 mt-5">Juegos Disponibles</h2>
                <button (click)="logout()" class="btn mt col-lg-4 text-end mt-5"><img
                        src="../../../assets/img/icon_cerrar_sesión.png" alt="" width="40px"> Cerrar sesión</button>
                @if (listLoaded){
                @for (game of pagedGameList; track game.title) {
                <div class="card text-center col-lg-11 m-2 p-0">
                    <div class="card-header">
                        {{game.title}} (#{{game.id}})
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{game.description}}<br>Tipo: {{game.typegame}}</p>
                    </div>
                    <div class="card-footer p-1">
                        <div class="row justify-content-evenly align-items-center">
                            <button class="btn btn-primary col-lg-2 p-1" (click)="playGame(game.id)">Jugar</button>
                            <button class="btn btn-primary col-lg-2 p-1" (click)="editGame(game.id)">Editar</button>
                            <button class="btn btn-primary col-lg-2 p-1" (click)="deleteGame(game.id)">Eliminar</button>
                        </div>
                    </div>
                </div>
                }
                } @else {
                <div style="height: 60vh;">
                    <img src="../../../assets/img/icon_carga.gif" alt="Cargando..."
                        class="position-absolute top-50 start-50 translate-middle">
                </div>
                }
                <nav class="col-lg-8" aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <button class="page-link" aria-label="Previous" (click)="previousPage()">
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                        @for(page of pages; track page){
                        <li class="page-item" [class.active]="currentPage === page">
                            <button class="page-link" (click)="setPage(page)">{{ page }}</button>
                        </li>
                        }
                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                            <button class="page-link" aria-label="Next" (click)="nextPage()">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn-secondary col-lg-3 mb-3" routerLink="/mini_games/create"
                    routerLinkActive="active">Crear</button>
            </div>
        </div>
    </div>
</div>